{% extends 'uploader/layouts/base.html' %}
{%load static%}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'uploader/css/download.css' %}">
{% endblock extrastyle %}

{% block content %}
<div id="download-box">
    <h2>Download Links</h2>
    <p>
        Direct Link: 
        <span class="link-container" onclick="copyLink('http://127.0.0.1:8000/download/{{ link }}')">
          <span class="link-text">http://127.0.0.1:8000/download/{{ link }}</span>
          <span class="copy-link">Copy Link</span>
        </span>
    </p>
    <p>
        <a href="/">Back to Home</a>
    </p>
</div>

{% endblock content %}

{% block extrajs %}
<script>
    function copyLink(link) {
    navigator.clipboard.writeText(link);
    alert('Link copied to clipboard!');
}
const loginBtn = document.getElementById('login-btn');
const profileBtn = document.getElementById('profile-btn');
  loginBtn.addEventListener('click', () => {
    window.location.href = '/accounts/login';
  });

  profileBtn.addEventListener('click', () => {
    window.location.href = '/accounts/myfiles';})
</script>
{% endblock extrajs %}