{%extends 'uploader/layouts/base.html' %}
{%load static%}
{%block extrastyle %}
<link rel="stylesheet" href="{% static 'uploader/css/upload.css' %}">
{%endblock extrastyle %}
{%block content%}
<div id="main-content">
	<form id="file-upload-form" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button id="upload-button">Upload File</button>
		<div id="upload-status"></div>
	</form>
</div>
{%endblock content%}
{%block extrajs%}
<script src="{%static 'uploader/js/upload.js'%}"></script>
{%endblock extrajs%}