{%extends 'uploader/layouts/base.html' %}
{%block extrastyle %}
<style>
	#file-upload-form {
			max-width: 400px;
			margin: 40px auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			display: flex;
			flex-direction: column;
			align-items: center;
	}

	/* Style the file input field */
	#file-input {
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 20px;
	}

	/* Style the upload button */
	#upload-button {
			background-color: #4CAF50;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			margin-bottom: 20px;
	}

	/* Style the upload status message */
	#upload-status {
			margin-top: 20px;
			font-size: 18px;
			color: #666;
			font-weight: bold;
	}

	/* Style the upload progress message */
	#upload-status.uploading {
			color: #337ab7;
	}

	/* Style the upload success message */
	#upload-status.success {
			color: #2ecc71;
	}

	/* Style the upload error message */
	#upload-status.error {
			color: #e74c3c;
	}
</style>
{%endblock extrastyle %}
{%block content%}
	<h1>File Uploader</h1>
	<form id="file-upload-form" method="post" enctype="multipart/form-data">
		{{ form.as_p }}
		<button id="upload-button">Upload File</button>
		<div id="upload-status"></div>
	</form>
{%endblock content%}
{%block extrajs%}
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const fileInput = document.getElementById('file-input');
		const uploadButton = document.getElementById('upload-button');
		const uploadStatus = document.getElementById('upload-status');
		const form = document.getElementById('file-upload-form');

		uploadButton.addEventListener('click', (e) => {
			e.preventDefault();

			if (form.checkValidity()) {
				const file = fileInput.files[0];
				const expirationDate = document.querySelector('#file-upload-form #expiration-date').value;

				const formData = new FormData();
				formData.append('file', file);
				formData.append('expiration_date', expirationDate);

				const csrfToken = getCookie('csrftoken');
				console.log(formData)
				fetch('/', {
					method: 'POST',
					redirect: 'follow',
					headers: {
						'X-CSRFToken': csrfToken
					},
					body: formData
				})
				.then((response) => {
					if (response.ok) {
						uploadStatus.innerHTML = 'File uploaded successfully!';
						window.location.replace(response.url)
					} else {
						uploadStatus.innerHTML = 'Error uploading file.';
					}
				})
				.catch((error) => {
					uploadStatus.innerHTML = 'Error uploading file.';
					console.log(error)
				});
			} else {
				uploadStatus.innerHTML = 'Please fill in the required fields.';
			}
		});

		// Function to get a cookie by name
		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	});
</script>
{%endblock extrajs%}