{% extends 'users/layouts/base.html' %}
{% block extrastyle %}
  <style>
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    li:last-child {
      border-bottom: none;
    }
    a {
      text-decoration: none;
      color: #337ab7;
    }
    a:hover {
      color: #23527c;
    }
  </style>
{% endblock extrastyle %}
{% block content %}
  <h1>My Files</h1>
  <ul>
    {% for file in myfiles.all %}
      <li>
        {{ file.fileName }} ({{ file.fileField.size }} bytes)
        <a href="{{ file.fileField.url }}">Download</a>
      </li>
    {% empty %}
      <li>No files uploaded yet.</li>
    {% endfor %}
  </ul>
{% endblock %}