  <div class="left-panel">
    <div class="user-info">
      {% if request.user.is_authenticated %}
        <div class="info-block">
          <span>Username:</span>
          <p>{{ request.user.username }}</p>
        </div>
        <div class="info-block">
          <span>Email:</span>
          <p>{{ request.user.email }}</p>
        </div>
      {% endif %}
    </div>
    <ul class="nav-links">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
      {% if request.path == '/accounts/myfiles/' %}
      <li><a href="{% url 'upload' %}">Upload new file</a></li>
      {% elif request.user.is_authenticated %}
      <li><a href="{% url 'myfiles' %}">My uploads</a></li>
      {% endif %}
    </ul>
  </div>
  <button class="collapse-btn">User Information</button>